*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(250, 173, 186);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 0.5s;
    border-radius: 15px;
}

.container .images{
      position: absolute;
      width: 250px;
      height: 300px;
      transform-style: preserve-3d;
      transform: perspective(1000px);
      background-color: aliceblue;
      transform-origin: left;
      transition: all 0.5s;
      border-radius: 15px;
}

.container #im{
    z-index: -1;
}

.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform-style: preserve-3d; */
    border-radius: 15px;
    backface-visibility: hidden;
}

.container .images img:nth-child(2){
    transform: rotateY(-180deg);
} 

.container:hover {
    transform: translateX(50%) ;
}

.container:hover .images{
    transform: rotateY(180deg) skewY(3deg);
}

.container .outer{
    text-align: center;
}

@media (max-width:500px) {
    .container{
        width: 200px;
        height: 250px;
    }

    .container .images{
        width: 200px;
        height: 250px;
        transform-origin: top;
    }

    .container:hover .images{
        transform: rotateX(180deg) skewX(1deg);
    }

    .container .images img:nth-child(2){
        transform: rotateX(-180deg);
    }

    .container:hover {
        transform: translateY(50%) ;
    }
}

